*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    max-width: 1605px;
    min-height: 100vh;
    background-color: #f0eded;
}
.main-container{
    max-width: 80%;
    margin: 3% auto;

}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #eae7e7;
    grid-row-gap: 5px;

}
.column{
    max-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    margin: 1rem;
}
img{
    width: 300px;
    height: 200px;
    border-radius: 5px;
   
}
h1{
    text-align: start;
    margin: 1rem;
    font-weight: 200;
    font-size: 1.8rem;
    letter-spacing: 0.8px;
}
p{
    text-align: start;
    margin: 1rem;
    letter-spacing: 0.8px;
    line-height: 1.5rem;
}
.arrow{
    height: 5px;
    width: 20px;
    margin-left: 1rem;
    color: blue;
}
button{
    height: 2.5rem;
    width: 16rem;
    margin: 1rem;
    color: blue;
    background-color: rgb(219, 218, 249);
    border-color: rgb(219, 218, 249);
    border-radius: 5px;

}
.button{
    text-align: center;
    color: blue;
}
footer{
    margin: 1rem 0;
    padding: 1rem;
    background-color: #fff;
    text-align: center;
}

/* responsiveness */

@media (max-width: 1030px) {
    .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    

}
}
@media (max-width: 750px) {
    .grid-container{
    display: grid;
    grid-template-columns: 1fr;
    

}
}